.advertisement-container{
    margin: 76px 100px 10px 100px;
    overflow: hidden;
}

.advertisement-sub-container{
    display: flex;
    gap: 30px;
}

.hoverImg{
    position: relative;
}

.hoverImg-content{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 50;
}

.hoverImg-content h1{
    font-size: 35px;
    font-weight: 900;
    color: #FFB11B;
    line-height: 40PX;
}

.hoverImg-content P{
    font-size: 15px;
    color: #B18D6B;
    text-align: center;
}

.cont-img img{
    width: 295px;
    height: 440px;
    text-decoration: 1000ms;
    cursor: pointer;
}

.cont-img:hover .hoverImg{
    background-color: black;
}

.cont-img:hover img{
    opacity: .5;
}

/*center to img*/
.center-img-content{
    position: absolute;
    text-align: center;
    top: 50px;
    right: 50px;
    z-index: 10;
}

.center-img-content h1{
    font-size: 35px;
    font-weight: 900;
    color: white;
    line-height: 40px;
}

.center-img-content p{
    font-size: 15px;
    color: #1328ec;
    text-align: center;
}

.center-top-img{
    width: 592px;
    height: 205px;
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
}

.hover02 .center-top-img img{
    margin-top: -40px;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hover02 .center-top-img:hover img{
    margin-top: 0;
}


/*Bottom Two Img*/

.bottom-img1-content{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
}

.bottom-img1-content h1{
    font-size: 35px;
    font-weight: 900;
    color: #896541;
    line-height: 40px;
}

.bottom-img1-content p{
    font-size: 15px;
    color: #B18D6B;
    text-align: center;
}

.column div{
    position: relative;
    float: left;
    padding: 0;
}

.bottomTwoImg{
    width: 281px;
    height: 215px;
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
}

.hover03 .bottomTwoImg img{
    margin-top: 20px;
    margin-left: 50px;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: .5s ease-in-out;
    transition: .5 ease-in-out;
}

.hover03 .bottomTwoImg:hover img{
    margin-left: 0;
}

.right-img-content{
    position: absolute;
    top: 10px;
    left: 10%;
    text-align: center;
    z-index: 50;
}

.right-img-content h1{
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    line-height: 40px;
}

.right-img-content p{
    font-size: 15px;
    color: #1328ec;
    text-align: center;
}

.shop-now-btn{
    font-weight: 500;
    display: flex;
    align-items: center;
}
